<div class="now-playing-container" [class.show]="isVisible()">
  <div class="track-info">
    <div class="album-cover-container">
      <img class="album-cover" [class.playing]="track()?.is_playing" [src]="track()?.image_url || ''"
        alt="Album Cover" />
      <div class="vinyl-effect"></div>
    </div>
    <div class="track-details">
      <div class="track-text-info">
        <div class="track-title scrolling-text" #titleContainer>
          <span class="text-content" #titleText>{{ track()?.name || '-' }}</span>
        </div>
        <div class="track-artist scrolling-text" #artistContainer>
          <span class="text-content" #artistText>{{ track()?.artist || '-' }}</span>
        </div>
      </div>
      <div class="progress-container">
        <div class="progress-info">
          <span class="progress-time">{{ currentMs() / 1000 / 60 | number : '1.0-0' }}:{{
            (currentMs() / 1000) % 60 | number : '2.0-0'
            }}</span>
          <span class="progress-time">{{ totalMs() / 1000 / 60 | number : '1.0-0' }}:{{
            (totalMs() / 1000) % 60 | number : '2.0-0'
            }}</span>
        </div>
        <div class="progress-bar">
          <div class="progress-fill" [style.width.%]="progressPct()"></div>
          <div class="wave-visualizer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
