<div class="overlay-form">
  @if (confirming()) {
  <div class="overlay-form__card overlay-form__card--danger">
    <h2 class="overlay-form__title">{{ content().title }}</h2>
    <p class="overlay-form__desc">{{ content().desc }}</p>
    <div class="overlay-form__actions">
      <app-button variant="danger" (clicked)="confirmDelete()" [disabled]="working()">{{ content().actions.delete
        }}</app-button>
      <app-button variant="cancel" (clicked)="cancel()" [disabled]="working()">{{ content().actions.cancel
        }}</app-button>
    </div>
  </div>
  } @else {
  @if (working()) {
  <p>{{ content().deleting }}</p>
  } @else if (error()) {
  <div class="overlay-form__card">
    <p>{{ content().error }}</p>
    <div class="overlay-form__actions">
      <app-button variant="danger" (clicked)="confirmDelete()">{{ content().actions.retry }}</app-button>
      <app-button variant="cancel" (clicked)="cancel()">{{ content().actions.cancel }}</app-button>
    </div>
  </div>
  }
  }
</div>
