:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-navigation {
  flex-shrink: 0;
}

router-outlet {
  display: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

app-footer {
  margin-top: auto;
  flex-shrink: 0;
}
